*{
    padding: 0;
    margin: 0;
    list-style: none;
    vertical-align: top;
}

html,body{
    width: 100%;
}

body{
    background-color: rgb(78, 78, 78);
}

/*导航栏*/

.header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid gray;
    background-color: white;
    box-shadow: 0 2px 8px rgb(53, 53, 53);
    z-index: 10;
}
.header .header_limite{
    width: 1300px;
    height: 100%;
    /* background-color: red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header .header_limite .logo{
    width: 120px;
    height: 60px;
    display: inline-block;
}
.header .header_limite .logo img{
    width: 120px;
    margin-top: -30px;
}

.header .header_limite .navi{
    display: inline-block;
}
.header .header_limite .navi ul{
    width: 460px;
    height: 100%;
    
}
.header .header_limite .navi ul li{
    float: left;
    width: 90px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    /* background-color: rebeccapurple; */
    box-sizing: content-box;
    border-left: 1px dashed rgb(153, 153, 153);
    display: inline-block;
    margin-top: 11px;
    font-family: "Microsoft Yahei, SimSun";
}
.header .header_limite .navi ul li:nth-child(1){
    border-left: none;
}
.header .header_limite .navi ul li a{
    text-decoration: none;
    color: gray;
}
.header .header_limite .navi ul li a:hover{
    color: orange;
}

.header .header_limite .search{
    display: inline-block;
    width: 350px;
    height: 100%;
    /* background-color: red; */
}
.header .header_limite .search .search_box{
    width: 280px;
    height: 30px;
    border:  none;
    background-color: #efefef;
    border-radius: 20px;
    margin-top: 15px;
    outline: none;
    padding-left: 10px;
}
.header .header_limite .search button{
    width: 45px;
    height: 35px;
    margin-top: 12px;
    border: none;
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
}
.header .header_limite .account{
    width: 200px;
    height: 60px;
    display: inline-block;
}
.header .header_limite .account img{
    width: 45px;
    border-radius: 50%;
    margin-top: 5px;
}
.header .header_limite .account span{
    margin-left: 15px;
    height: 60px;
    line-height: 60px;
    font-family: 'Andale Mono';
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 530;
    color: gray;
}
.top{
    height: 61px;
}
/*导航栏*/

/*中间分类浏览*/
.division{
    width: 1100px;
    height: 1100px;
    background-color: #fff;
    margin: 0 auto;
}
.division .tab_container{
    width: 100%;
    height: 200px;
    /* background-color: red; */
}

.division .tab_container ul{
    width: 700px;
    height: 100%;
    border-bottom: 1px solid gray;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.title_current{
    color:orange !important;
}
.division .tab_container ul li{
    width: 200px;
    height: 100%;
    text-align: center;
    line-height: 200px;
    /* background-color: red; */
    font-size: 30px;
    font-weight: bold;
    font-family: 'Microsoft JhengHei';
    color: rgb(80, 80, 80);
    
}
.division .tab_container ul li span{
    cursor: pointer;
}

/*中间下半部分*/
.division_container{
    width: 1100px;
    height: 900px;
}
/* 日系 */
.division_container .division_box:nth-child(3){
    width: 100%;
    height: 100%;
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.division_container .division_box:nth-child(3) .japan_box{
    width: 280px;
    height: 280px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.division_container .division_box:nth-child(3) .japan_box img{
    width: 100%;
}
.division_container .division_box:nth-child(3) .japan_box span{
    background-color: rgba(73, 77, 82, 0.6);
    width: 280px;
    height: 280px;
    position: absolute;
    top: -280px;
    left: 0;
    text-align: center;
    line-height: 280px;
    color: white;
    font-family: 'Andale Mono';
    font-size: 35px;
    letter-spacing: 5px;
}

/* 风光 */
.division_container .division_box:nth-child(2){
    width: 100%;
    height: 100%;
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.division_container .division_box:nth-child(2) .landscape_box{
    width: 420px;
    height: 280px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.division_container .division_box:nth-child(2) .landscape_box img{
    width: 100%;
}
.division_container .division_box:nth-child(2) .landscape_box span{
    background-color: rgba(73, 77, 82, 0.6);
    width: 420px;
    height: 280px;
    position: absolute;
    top: -280px;
    left: 0;
    text-align: center;
    line-height: 280px;
    color: white;
    font-family: 'Andale Mono';
    font-size: 35px;
    letter-spacing: 5px;
}

/* 人文 */
.division_container .division_box:nth-child(1){
    width: 100%;
    height: 100%;
    /* background-color: palevioletred; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.division_container .division_box:nth-child(1) .humanity_box{
    width: 280px;
    height: 280px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.division_container .division_box:nth-child(1) .humanity_box img{
    width: 100%;
}
/*蒙版*/
.division_container .division_box:nth-child(1) .humanity_box span{
    background-color: rgba(73, 77, 82, 0.6);
    width: 280px;
    height: 280px;
    position: absolute;
    top: -280px;
    left: 0;
    text-align: center;
    line-height: 280px;
    color: white;
    font-family: 'Andale Mono';
    font-size: 35px;
    letter-spacing: 5px;
}


/*中间分类浏览*/


/*底部*/

.foot{
    width: 100%;
    height: 340px;
    background-color: rgb(240, 239, 239);
    /* border-top: 1px solid gray; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    padding-top: 30px;
}
.foot .foot_limite{
    width: 700px;
    height: 330px;
    display: block;
}
.foot .foot_limite .follow{
    width: 100%;
    text-align: center;
    height: 80px;
    line-height: 80px;
    font-size: 28px;
    color: rgb(94, 93, 93);
}
.foot .foot_limite .icon{
    width: 100%;
    height: 220px;
}
.foot .foot_limite .icon .icon_left{
    display: inline-block;
    height: 220px;
    width: 430px;
}

.foot .foot_limite .icon .icon_left ul{
    margin-top: 60px
}

.foot .foot_limite .icon .icon_left ul li{
    height: 100%;
    width: 100px;
    float: left;    
}
.foot .foot_limite .icon .icon_left ul li a{
    width: 125px;
    height: 70px;
    display: block;
}
.foot .foot_limite .icon .icon_left ul li a img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
.foot .foot_limite .icon .icon_left ul li span{
    width: 125px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color:rgb(105, 105, 105);
}

.foot .foot_limite .icon .border_center{
    display: inline-block;
    width: 0;
    height: 200px;
    border-right: 1px solid rgb(189, 189, 189);
}

.foot .foot_limite .icon .icon_right{
    width: 200px;
    height: 220px;
    display: inline-block;
}
.foot .foot_limite .icon .icon_right .wechat_qrcode{
    width: 246px;
    height: 200px;
    /* background-color: red; */
    display: block;
    margin-top: 15px;
}
.foot .foot_limite .icon .icon_right .wechat_qrcode img{
    width: 150px;
    display: block;
    margin: 0 auto;
}

.foot .foot_limite .icon .icon_right .wechat_qrcode span{
    width: 150px;
    height: 30px;
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
    color:rgb(105, 105, 105);
}

.foot .foot_limite .declaration{
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: rgb(179, 179, 179);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 12px;
}

/*底部*/