*{
    padding: 0;
    margin: 0;
    list-style: none;
    vertical-align: top;
}
html,body{
    width: 100%;
}
body{
    background-color: rgb(78, 78, 78);
}


/*导航栏*/
.header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid gray;
    background-color: white;
    box-shadow: 0 2px 8px rgb(53, 53, 53);
    z-index: 10;
}
.header .header_limite{
    width: 1300px;
    height: 100%;
    /* background-color: red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header .header_limite .logo{
    width: 120px;
    height: 60px;
    display: inline-block;
}
.header .header_limite .logo img{
    width: 120px;
    margin-top: -30px;
}

.header .header_limite .navi{
    display: inline-block;
}
.header .header_limite .navi ul{
    width: 460px;
    height: 100%;
    
}
.header .header_limite .navi ul li{
    float: left;
    width: 90px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    /* background-color: rebeccapurple; */
    box-sizing: content-box;
    border-left: 1px dashed rgb(153, 153, 153);
    display: inline-block;
    margin-top: 11px;
    font-family: "Microsoft Yahei, SimSun";
}
.header .header_limite .navi ul li:nth-child(1){
    border-left: none;
}
.header .header_limite .navi ul li a{
    text-decoration: none;
    color: gray;
}
.header .header_limite .navi ul li a:hover{
    color: orange;
}

.header .header_limite .search{
    display: inline-block;
    width: 350px;
    height: 100%;
    /* background-color: red; */
}
.header .header_limite .search .search_box{
    width: 280px;
    height: 30px;
    border:  none;
    background-color: #efefef;
    border-radius: 20px;
    margin-top: 15px;
    outline: none;
    padding-left: 10px;
}
.header .header_limite .search button{
    width: 45px;
    height: 35px;
    margin-top: 12px;
    border: none;
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
}
.header .header_limite .account{
    width: 200px;
    height: 60px;
    display: inline-block;
}
.header .header_limite .account img{
    width: 45px;
    border-radius: 50%;
    margin-top: 5px;
}
.header .header_limite .account span{
    margin-left: 15px;
    height: 60px;
    line-height: 60px;
    font-family: 'Andale Mono';
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 530;
    color: gray;
}

/*导航栏*/

/*顶上大图*/
.top{
    height: 61px;
}
.waterfall_top{
    width: 1100px;
    height: 734px;
    margin: 0 auto;
    display: block;
}

/*顶上大图*/


/*瀑布流*/
.waterfall{
    position: relative;
    width: 1100px;
    height: 1000px;
    margin: 0 auto;
    border: 1px solid grey;
    background-color: white;
    border-top: none;
}
.waterfall .pic_container{
    float: left;
    padding-left: 30px;
    padding-top: 30px;
    box-sizing: content-box;
}

.waterfall .pic_container .pic_box{
    border: 1px solid gray;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 4px 4px 5px gray;
    position: relative;
}

.waterfall .pic_container .pic_box img{
    width: 300px;
    vertical-align: top;
}

/*蒙版的CSS*/
.masking{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .7;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.big_pic{
    width: 600px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: 50%;
    display: none;
}
.big_pic a{
    display: block;
    width: 100%;
}

.big_pic a img{
    width: 100%;
}
/*瀑布流*/

/*回顶*/

.to_top{
    width: 50px;
    height: 50px;
    background-color:gray;
    border-radius: 50%;
    position: fixed;
    right: 50px;
    bottom: 50px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
}
.to_top:hover{
    color: orange;
}

/*回顶*/